データセット
https://www.kaggle.com/c/titanic

kernel
https://www.kaggle.com/c/titanic/kernels

参考文献
https://www.codexa.net/kaggle-titanic-beginner/

学んだこと

In [2]:
import pandas as pd

In [3]:
train_data=pd.read_csv("train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Survived – 生存フラグ（0=死亡、1=生存）

Pclass – チケットクラス


SibSp – タイタニックに同乗している兄弟/配偶者の数

parch – タイタニックに同乗している親/子供の数

Embarked – 出港地（タイタニックへ乗った港）



pclass = チケットクラス

1 = 上層クラス（お金持ち）

2 = 中級クラス（一般階級）

3 = 下層クラス（労働階級）

In [4]:
drop_list = ['PassengerId','Name', 'Ticket', 'Fare', 'Cabin', 'Embarked']
train_data1= train_data.drop(drop_list,axis = 1 ) 
train_data1.head()

   Survived  Pclass     Sex   Age  SibSp  Parch
0         0       3    male  22.0      1      0
1         1       1  female  38.0      1      0
2         1       3  female  26.0      0      0
3         1       1  female  35.0      1      0
4         0       3    male  35.0      0      0

In [6]:
#年齢を年代別にする
train_data1.Age=pd.cut(train_data1.Age, [0, 9, 19, 29, 39, 49, 59, 69, 79, 89, 99, 109], labels=False)
train_data1.Age.head()

#性別を1, 0にする
#train_data1=pd.get_dummies(train_data1, drop_first=True, columns=['Sex'])

#train_data1.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: Age, dtype: float64

In [7]:
#性別を1, 0にする
train_data1=pd.get_dummies(train_data1, drop_first=True, columns=['Sex'])

In [8]:
train_data1.head()

   Survived  Pclass  Age  SibSp  Parch  Sex_male
0         0       3  0.0      1      0         1
1         1       1  0.0      1      0         0
2         1       3  0.0      0      0         0
3         1       1  0.0      1      0         0
4         0       3  0.0      0      0         1

20~29(20代)⇒2.0, 30~39(30代)⇒3.0

男性⇒1, 女性⇒0

In [17]:
X_train = train_data1.drop('Survived', axis=1)
y_train = train_data1['Survived']
#print(y_train)

In [19]:
#反復特徴量選択
from sklearn.feature_selection import RFE #Recursive Feature Elimination; 再帰的特徴量削減
from sklearn.ensemble import RandomForestClassifier
# Create the RFE object and rank each pixel
rfe = RandomForestClassifier()      
rfe = RFE(estimator=rfe, n_features_to_select=5, step=1)
rfe = rfe.fit(X_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').