## team AI Medical Hackathon 2019/02/24
がんセンターの先生や、アメリカから帰国したばかりの東工大博士課程の方、アメリカ人の高校卒業したばかりの子、なんとkaggle上位30%に入っている方、MSDの方、面白い方がたくさんいらっしゃった。

## datesets
https://www.kaggle.com/berkeley-biosense/synchronized-brainwave-dataset

<BR/>学んだこと<br />
①用語<br />
多機能情報伝達システム(Multifunction Information Distribution System, MIDS）<br />
EEG脳波

In [1]:
import pandas as pd

In [2]:
data0=pd.read_csv('eeg-data.csv')
data0.head()

,Unnamed: 0,id,indra_time,browser_latency,reading_time,attention_esense,meditation_esense,eeg_power,raw_values,signal_quality,createdAt,updatedAt,label
0,3730,12,2015-05-09 23:13:42.281,1461,2015-05-09 16:13:40.954,0,0,"[944412.0, 111373.0, 52404.0, 28390.0, 3237.0,...","[-203.0, -202.0, -196.0, -185.0, -163.0, -137....",200,2015-05-09 23:13:39.550,2015-05-09 23:13:39.549+00,unlabeled
1,3732,12,2015-05-09 23:13:43.186,1461,2015-05-09 16:13:41.964,0,0,"[1793049.0, 89551.0, 3896.0, 21727.0, 9301.0, ...","[104.0, 134.0, 128.0, 121.0, 145.0, 151.0, 123...",200,2015-05-09 23:13:40.559,2015-05-09 23:13:40.559+00,unlabeled
2,3734,12,2015-05-09 23:13:44.392,1461,2015-05-09 16:13:42.950,0,0,"[400192.0, 640624.0, 153087.0, 69733.0, 98854....","[2002.0, 2047.0, 2047.0, 2047.0, 2047.0, 2047....",200,2015-05-09 23:13:41.549,2015-05-09 23:13:41.549+00,unlabeled
3,3735,12,2015-05-09 23:13:45.297,1461,2015-05-09 16:13:43.935,0,0,"[681192.0, 138630.0, 67891.0, 26459.0, 592240....","[1287.0, 1241.0, 1196.0, 1155.0, 1113.0, 1072....",200,2015-05-09 23:13:42.532,2015-05-09 23:13:42.532+00,unlabeled
4,3737,12,2015-05-09 23:13:46.201,1460,2015-05-09 16:13:44.936,0,0,"[268406.0, 197772.0, 190654.0, 266433.0, 91683...","[1905.0, 1836.0, 1770.0, 1707.0, 1645.0, 1587....",200,2015-05-09 23:13:43.532,2015-05-09 23:13:43.532+00,unlabeled

In [3]:
data0.head().T

,0,1,2,3,4
Unnamed: 0,3730,3732,3734,3735,3737
id,12,12,12,12,12
indra_time,2015-05-09 23:13:42.281,2015-05-09 23:13:43.186,2015-05-09 23:13:44.392,2015-05-09 23:13:45.297,2015-05-09 23:13:46.201
browser_latency,1461,1461,1461,1461,1460
reading_time,2015-05-09 16:13:40.954,2015-05-09 16:13:41.964,2015-05-09 16:13:42.950,2015-05-09 16:13:43.935,2015-05-09 16:13:44.936
attention_esense,0,0,0,0,0
meditation_esense,0,0,0,0,0
eeg_power,"[944412.0, 111373.0, 52404.0, 28390.0, 3237.0,...","[1793049.0, 89551.0, 3896.0, 21727.0, 9301.0, ...","[400192.0, 640624.0, 153087.0, 69733.0, 98854....","[681192.0, 138630.0, 67891.0, 26459.0, 592240....","[268406.0, 197772.0, 190654.0, 266433.0, 91683..."
raw_values,"[-203.0, -202.0, -196.0, -185.0, -163.0, -137....","[104.0, 134.0, 128.0, 121.0, 145.0, 151.0, 123...","[2002.0, 2047.0, 2047.0, 2047.0, 2047.0, 2047....","[1287.0, 1241.0, 1196.0, 1155.0, 1113.0, 1072....","[1905.0, 1836.0, 1770.0, 1707.0, 1645.0, 1587...."
signal_quality,200,200,200,200,200
createdAt,2015-05-09 23:13:39.550,2015-05-09 23:13:40.559,2015-05-09 23:13:41.549,2015-05-09 23:13:42.532,2015-05-09 23:13:43.532
updatedAt,2015-05-09 23:13:39.549+00,2015-05-09 23:13:40.559+00,2015-05-09 23:13:41.549+00,2015-05-09 23:13:42.532+00,2015-05-09 23:13:43.532+00
label,unlabeled,unlabeled,unlabeled,unlabeled,unlabeled

In [6]:
data1=pd.read_csv('subject-metadata.csv')
data1.head()

   ID  Session Seen video before? Chosen color Saw icons? Gender Wear contacts
0   1        1                  n            b          n      f             n
1   2        1                  n            b          n      m             n
2   3        1                  n            r          n      f             n
3   4        1                  n            y          n      m             y
4   5        1                  n            b          n      m             n

α波多い⇒リラックス

In [7]:
data0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30013 entries, 0 to 30012
Data columns (total 13 columns):
Unnamed: 0           30013 non-null int64
id                   30013 non-null int64
indra_time           30013 non-null object
browser_latency      30013 non-null object
reading_time         30013 non-null object
attention_esense     30013 non-null int64
meditation_esense    30013 non-null int64
eeg_power            30013 non-null object
raw_values           30013 non-null object
signal_quality       30013 non-null int64
createdAt            30013 non-null object
updatedAt            30013 non-null object
label                30013 non-null object
dtypes: int64(5), object(8)
memory usage: 3.0+ MB

"delta", "theta", "low_alpha", "high_alpha", \
                                 "low_beta", "high_beta", "low_gamma", "mid_gamma"

In [12]:
y=data0.meditation_esense
list0=['meditation_esense', 'Unnamed: 0']
X=data0.drop(list0, axis=1)

X.head().T

,0,1,2,3,4
id,12,12,12,12,12
indra_time,2015-05-09 23:13:42.281,2015-05-09 23:13:43.186,2015-05-09 23:13:44.392,2015-05-09 23:13:45.297,2015-05-09 23:13:46.201
browser_latency,1461,1461,1461,1461,1460
reading_time,2015-05-09 16:13:40.954,2015-05-09 16:13:41.964,2015-05-09 16:13:42.950,2015-05-09 16:13:43.935,2015-05-09 16:13:44.936
attention_esense,0,0,0,0,0
eeg_power,"[944412.0, 111373.0, 52404.0, 28390.0, 3237.0,...","[1793049.0, 89551.0, 3896.0, 21727.0, 9301.0, ...","[400192.0, 640624.0, 153087.0, 69733.0, 98854....","[681192.0, 138630.0, 67891.0, 26459.0, 592240....","[268406.0, 197772.0, 190654.0, 266433.0, 91683..."
raw_values,"[-203.0, -202.0, -196.0, -185.0, -163.0, -137....","[104.0, 134.0, 128.0, 121.0, 145.0, 151.0, 123...","[2002.0, 2047.0, 2047.0, 2047.0, 2047.0, 2047....","[1287.0, 1241.0, 1196.0, 1155.0, 1113.0, 1072....","[1905.0, 1836.0, 1770.0, 1707.0, 1645.0, 1587...."
signal_quality,200,200,200,200,200
createdAt,2015-05-09 23:13:39.550,2015-05-09 23:13:40.559,2015-05-09 23:13:41.549,2015-05-09 23:13:42.532,2015-05-09 23:13:43.532
updatedAt,2015-05-09 23:13:39.549+00,2015-05-09 23:13:40.559+00,2015-05-09 23:13:41.549+00,2015-05-09 23:13:42.532+00,2015-05-09 23:13:43.532+00
label,unlabeled,unlabeled,unlabeled,unlabeled,unlabeled

In [18]:
data0[data0["id"]==12]

,Unnamed: 0,id,indra_time,browser_latency,reading_time,attention_esense,meditation_esense,eeg_power,raw_values,signal_quality,createdAt,updatedAt,label
0,3730,12,2015-05-09 23:13:42.281,1461,2015-05-09 16:13:40.954,0,0,"[944412.0, 111373.0, 52404.0, 28390.0, 3237.0,...","[-203.0, -202.0, -196.0, -185.0, -163.0, -137....",200,2015-05-09 23:13:39.550,2015-05-09 23:13:39.549+00,unlabeled
1,3732,12,2015-05-09 23:13:43.186,1461,2015-05-09 16:13:41.964,0,0,"[1793049.0, 89551.0, 3896.0, 21727.0, 9301.0, ...","[104.0, 134.0, 128.0, 121.0, 145.0, 151.0, 123...",200,2015-05-09 23:13:40.559,2015-05-09 23:13:40.559+00,unlabeled
2,3734,12,2015-05-09 23:13:44.392,1461,2015-05-09 16:13:42.950,0,0,"[400192.0, 640624.0, 153087.0, 69733.0, 98854....","[2002.0, 2047.0, 2047.0, 2047.0, 2047.0, 2047....",200,2015-05-09 23:13:41.549,2015-05-09 23:13:41.549+00,unlabeled
3,3735,12,2015-05-09 23:13:45.297,1461,2015-05-09 16:13:43.935,0,0,"[681192.0, 138630.0, 67891.0, 26459.0, 592240....","[1287.0, 1241.0, 1196.0, 1155.0, 1113.0, 1072....",200,2015-05-09 23:13:42.532,2015-05-09 23:13:42.532+00,unlabeled
4,3737,12,2015-05-09 23:13:46.201,1460,2015-05-09 16:13:44.936,0,0,"[268406.0, 197772.0, 190654.0, 266433.0, 91683...","[1905.0, 1836.0, 1770.0, 1707.0, 1645.0, 1587....",200,2015-05-09 23:13:43.532,2015-05-09 23:13:43.532+00,unlabeled
5,3738,12,2015-05-09 23:13:47.104,1460,2015-05-09 16:13:45.937,0,0,"[314183.0, 120068.0, 138114.0, 53890.0, 335070...","[-859.0, -981.0, -1099.0, -1210.0, -1284.0, -1...",200,2015-05-09 23:13:44.535,2015-05-09 23:13:44.535+00,unlabeled
6,3739,12,2015-05-09 23:13:48.308,1460,2015-05-09 16:13:46.940,0,0,"[102705.0, 103033.0, 53771.0, 51600.0, 31966.0...","[1687.0, 1627.0, 1570.0, 1504.0, 1385.0, 1172....",200,2015-05-09 23:13:45.536,2015-05-09 23:13:45.536+00,unlabeled
7,3741,12,2015-05-09 23:13:49.212,1461,2015-05-09 16:13:47.949,0,0,"[629925.0, 413423.0, 130957.0, 62414.0, 21797....","[2047.0, 2047.0, 2047.0, 2047.0, 2047.0, 2032....",200,2015-05-09 23:13:46.543,2015-05-09 23:13:46.543+00,unlabeled
8,3740,12,2015-05-09 23:13:50.118,1461,2015-05-09 16:13:48.911,0,0,"[536622.0, 273382.0, 68365.0, 173574.0, 142326...","[-965.0, -934.0, -873.0, -765.0, -629.0, -504....",200,2015-05-09 23:13:47.507,2015-05-09 23:13:47.507+00,unlabeled
9,3742,12,2015-05-09 23:13:51.321,1461,2015-05-09 16:13:49.910,0,0,"[1006255.0, 61183.0, 63598.0, 58674.0, 52984.0...","[-2048.0, -2048.0, -2048.0, -2048.0, -2048.0, ...",200,2015-05-09 23:13:48.504,2015-05-09 23:13:48.504+00,unlabeled
10,3743,12,2015-05-09 23:13:52.224,1461,2015-05-09 16:13:50.930,0,0,"[1007803.0, 96427.0, 285339.0, 175395.0, 14313...","[2047.0, 2025.0, 1955.0, 1884.0, 1818.0, 1753....",200,2015-05-09 23:13:49.526,2015-05-09 23:13:49.526+00,unlabeled
11,3745,12,2015-05-09 23:13:53.126,1461,2015-05-09 16:13:51.901,0,0,"[700031.0, 1160578.0, 656538.0, 128705.0, 2413...","[2047.0, 2047.0, 2047.0, 2047.0, 2047.0, 2047....",200,2015-05-09 23:13:50.496,2015-05-09 23:13:50.496+00,unlabeled
12,3746,12,2015-05-09 23:13:54.330,1461,2015-05-09 16:13:52.900,0,0,"[158779.0, 109845.0, 2475.0, 15662.0, 65672.0,...","[-2048.0, -2048.0, -2048.0, -1982.0, -1627.0, ...",200,2015-05-09 23:13:51.498,2015-05-09 23:13:51.498+00,unlabeled
13,3748,12,2015-05-09 23:13:55.234,1462,2015-05-09 16:13:53.905,0,0,"[1003200.0, 206996.0, 6511.0, 44440.0, 62760.0...","[-662.0, -60.0, 586.0, 938.0, 1073.0, 1052.0, ...",200,2015-05-09 23:13:52.500,2015-05-09 23:13:52.5+00,unlabeled
14,3747,12,2015-05-09 23:13:56.139,1462,2015-05-09 16:13:54.887,0,0,"[727361.0, 428847.0, 149404.0, 56542.0, 123762...","[2047.0, 2047.0, 2047.0, 2047.0, 2047.0, 2047....",200,2015-05-09 23:13:53.485,2015-05-09 23:13:53.485+00,unlabeled
15,3749,12,2015-05-09 23:13:57.342,1462,2015-05-09 16:13:55.905,0,0,"[228088.0, 165013.0, 172986.0, 92917.0, 64278....","[1756.0, 1693.0, 1634.0, 1575.0, 1520.0, 1464....",200,2015-05-09 23:13:54.505,2015-05-09 23:13:54.505+00,unlabeled
16,3750,12,2015-05-09 23:13:58.245,1462,2015-05-09 16:13:56.911,0,0,"[834852.0, 236055.0, 142740.0, 53304.0, 345034...","[-2048.0, -2012.0, -1940.0, -1869.0, -1801.0, ...",200,2015-05-09 23:13:55.505,2015-05-09 23:13:55.505+00,unlabeled
17,3751,12,2015-05-09 23:13:59.150,1462,2015-05-09 16:13:57.873,0,0,"[781319.0, 199954.0, 99069.0, 43748.0, 185985....","[2047.0, 2047.0, 2047.0, 2047.0, 2047.0, 2047....",200,2015-05-09 23:13:56.471,2015-05-09 23:13:56.471+00,unlabeled
18,3752,12,2015-05-09 23:14:00.054,1462,2015-05-09 16:13:58.879,0,0,"[166790.0, 1017772.0, 14900.0, 150062.0, 45207...","[-2048.0, -2048.0, -2048.0, -2048.0, -2048.0, ...",200,2015-05-09 23:13:57.475,2015-05-09 23:13:57.475+00,unlabeled
19,3753,12,2015-05-09 23:14:01.259,1462,2015-05-09 16:13:59.894,0,0,"[696525.0, 153276.0, 113698.0, 253947.0, 30755...","[2047.0, 2047.0, 2047.0, 2047.0, 2032.0, 1959....",200,2015-05-09 23:13:58.489,2015-05-09 23:13:58.489+00,unlabeled
20,3754,12,2015-05-09 23:14:02.163,1462,2015-05-09 16:14:00.862,0,0,"[359841.0, 565630.0, 13546.0, 127970.0, 310301...","[738.0, 1147.0, 1269.0, 1159.0, 1010.0, 866.0,...",200,2015-05-09 23:13:59.457,2015-05-09 23:13:59.457+00,unlabeled
21,3755,12,2015-05-09 23:14:03.067,1462,2015-05-09 16:14:01.864,0,0,"[289259.0, 241441.0, 124619.0, 139158.0, 11276...","[1084.0, 1079.0, 1074.0, 1077.0, 1089.0, 1178....",200,2015-05-09 23:14:00.459,2015-05-09 23:14:00.459+00,unlabeled
22,3757,12,2015-05-09 23:14:04.272,1465,2015-05-09 16:14:02.867,0,0,"[1204491.0, 162897.0, 71263.0, 50296.0, 441659...","[-920.0, -1016.0, -1176.0, -1420.0, -1850.0, -...",200,2015-05-09 23:14:01.466,2015-05-09 23:14:01.466+00,unlabeled
23,3759,12,2015-05-09 23:14:05.179,1465,2015-05-09 16:14:03.851,0,0,"[1968195.0, 243295.0, 91307.0, 166994.0, 12818...","[-898.0, -1285.0, -1189.0, -586.0, 817.0, 1632...",200,2015-05-09 23:14:02.448,2015-05-09 23:14:02.448+00,unlabeled
25,3758,12,2015-05-09 23:14:06.083,1465,2015-05-09 16:14:04.852,0,0,"[1893547.0, 172367.0, 62619.0, 38564.0, 25797....","[19.0, 19.0, 20.0, 20.0, 19.0, 20.0, 20.0, 19....",200,2015-05-09 23:14:03.486,2015-05-09 23:14:03.486+00,unlabeled
27,3760,12,2015-05-09 23:14:07.290,1465,2015-05-09 16:14:05.839,0,0,"[1786606.0, 295951.0, 50394.0, 103483.0, 47359...","[705.0, 679.0, 656.0, 632.0, 610.0, 587.0, 568...",200,2015-05-09 23:14:04.446,2015-05-09 23:14:04.446+00,unlabeled
29,3761,12,2015-05-09 23:14:08.188,1460,2015-05-09 16:14:06.855,0,0,"[1062702.0, 289641.0, 80184.0, 180502.0, 20451...","[1281.0, 1268.0, 1243.0, 1218.0, 1188.0, 1154....",200,2015-05-09 23:14:05.451,2015-05-09 23:14:05.451+00,unlabeled
31,3764,12,2015-05-09 23:14:09.092,1460,2015-05-09 16:14:07.861,0,0,"[306159.0, 33892.0, 54094.0, 24552.0, 5192.0, ...","[43.0, 67.0, 82.0, 97.0, 113.0, 137.0, 195.0, ...",200,2015-05-09 23:14:06.456,2015-05-09 23:14:06.456+00,unlabeled
33,3762,12,2015-05-09 23:14:09.997,1460,2015-05-09 16:14:08.825,0,0,"[1214424.0, 1545673.0, 134561.0, 369296.0, 910...","[-2048.0, -2048.0, -2048.0, -2048.0, -2048.0, ...",200,2015-05-09 23:14:07.422,2015-05-09 23:14:07.422+00,unlabeled
35,3731,12,2015-05-09 23:14:11.204,1462,2015-05-09 16:14:09.827,0,0,"[808281.0, 216467.0, 43757.0, 104144.0, 351737...","[-291.0, -289.0, -290.0, -308.0, -316.0, -289....",200,2015-05-09 23:14:08.425,2015-05-09 23:14:08.425+00,unlabeled
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17921,3698,12,2015-05-09 23:38:01.003,1522,2015-05-09 16:37:59.689,56,74,"[83440.0, 90108.0, 62569.0, 5395.0, 11317.0, 1...","[-53.0, -57.0, -58.0, -55.0, -40.0, -26.0, -37...",0,2015-05-09 23:37:58.230,2015-05-09 23:37:58.23+00,unlabeled
17934,3699,12,2015-05-09 23:38:01.910,1518,2015-05-09 16:38:00.673,54,69,"[34127.0, 19289.0, 9913.0, 19626.0, 15444.0, 9...","[56.0, 37.0, 9.0, 17.0, 39.0, 44.0, 38.0, 22.0...",0,2015-05-09 23:37:59.214,2015-05-09 23:37:59.214+00,unlabeled
17954,3700,12,2015-05-09 23:38:03.113,1518,2015-05-09 16:38:01.693,50,81,"[346639.0, 9902.0, 3581.0, 13325.0, 2696.0, 23...","[22.0, 23.0, 38.0, 53.0, 56.0, 39.0, 37.0, 53....",0,2015-05-09 23:38:00.242,2015-05-09 23:38:00.242+00,unlabeled
17965,3701,12,2015-05-09 23:38:04.020,1518,2015-05-09 16:38:02.702,43,70,"[310234.0, 125320.0, 15365.0, 8786.0, 11727.0,...","[-97.0, -99.0, -107.0, -122.0, -131.0, -135.0,...",0,2015-05-09 23:38:01.244,2015-05-09 23:38:01.244+00,unlabeled
17979,3702,12,2015-05-09 23:38:04.929,1522,2015-05-09 16:38:03.678,41,74,"[265502.0, 40132.0, 24275.0, 20089.0, 15988.0,...","[39.0, 23.0, 9.0, 5.0, 9.0, 21.0, 32.0, 21.0, ...",0,2015-05-09 23:38:02.225,2015-05-09 23:38:02.225+00,unlabeled
17999,3703,12,2015-05-09 23:38:06.139,1522,2015-05-09 16:38:04.663,26,61,"[1713905.0, 237412.0, 25714.0, 33385.0, 18489....","[-43.0, -53.0, -67.0, -59.0, -39.0, -53.0, -88...",0,2015-05-09 23:38:03.208,2015-05-09 23:38:03.208+00,unlabeled
18012,3704,12,2015-05-09 23:38:07.047,1522,2015-05-09 16:38:05.649,20,47,"[255954.0, 253250.0, 33902.0, 20922.0, 25220.0...","[-184.0, -168.0, -171.0, -187.0, -201.0, -202....",0,2015-05-09 23:38:04.190,2015-05-09 23:38:04.19+00,unlabeled
18027,3705,12,2015-05-09 23:38:07.953,1554,2015-05-09 16:38:06.652,26,61,"[379754.0, 56803.0, 42474.0, 34615.0, 11276.0,...","[0.0, -2.0, 4.0, 10.0, 10.0, 6.0, 8.0, 22.0, 7...",0,2015-05-09 23:38:05.194,2015-05-09 23:38:05.194+00,unlabeled
18046,3706,12,2015-05-09 23:38:09.192,1554,2015-05-09 16:38:07.652,24,50,"[568112.0, 276094.0, 9229.0, 45803.0, 11269.0,...","[-9.0, 6.0, 17.0, 12.0, 11.0, 6.0, 3.0, 2.0, -...",0,2015-05-09 23:38:06.193,2015-05-09 23:38:06.193+00,unlabeled
18060,3707,12,2015-05-09 23:38:10.097,1554,2015-05-09 16:38:08.653,20,54,"[162931.0, 297042.0, 92949.0, 28979.0, 16058.0...","[51.0, 29.0, 4.0, 17.0, 58.0, 88.0, 80.0, 81.0...",0,2015-05-09 23:38:07.199,2015-05-09 23:38:07.199+00,unlabeled
18074,3708,12,2015-05-09 23:38:11.001,1530,2015-05-09 16:38:09.637,20,61,"[320214.0, 188182.0, 31425.0, 54513.0, 15523.0...","[44.0, 58.0, 71.0, 69.0, 66.0, 42.0, 28.0, 56....",0,2015-05-09 23:38:08.182,2015-05-09 23:38:08.182+00,unlabeled
18090,3709,12,2015-05-09 23:38:12.182,1530,2015-05-09 16:38:10.656,24,53,"[92804.0, 14223.0, 8895.0, 5064.0, 15972.0, 50...","[810.0, 792.0, 787.0, 818.0, 857.0, 873.0, 874...",0,2015-05-09 23:38:09.198,2015-05-09 23:38:09.198+00,unlabeled
18105,3710,12,2015-05-09 23:38:13.088,1530,2015-05-09 16:38:11.662,24,61,"[155461.0, 18057.0, 6314.0, 1551.0, 1922.0, 16...","[274.0, 277.0, 242.0, 242.0, 245.0, 172.0, 73....",0,2015-05-09 23:38:10.201,2015-05-09 23:38:10.201+00,unlabeled
18118,3711,12,2015-05-09 23:38:13.994,1531,2015-05-09 16:38:12.642,38,64,"[106407.0, 40026.0, 21124.0, 17540.0, 7966.0, ...","[36.0, 54.0, 55.0, 55.0, 51.0, 40.0, 41.0, 68....",0,2015-05-09 23:38:11.196,2015-05-09 23:38:11.196+00,unlabeled
18129,3712,12,2015-05-09 23:38:14.901,1531,2015-05-09 16:38:13.627,54,78,"[74983.0, 26189.0, 7050.0, 110183.0, 19365.0, ...","[161.0, 170.0, 173.0, 164.0, 137.0, 136.0, 149...",0,2015-05-09 23:38:12.170,2015-05-09 23:38:12.17+00,unlabeled
18148,3713,12,2015-05-09 23:38:16.108,1531,2015-05-09 16:38:14.612,53,84,"[1204544.0, 19272.0, 17577.0, 5356.0, 2912.0, ...","[9.0, 2.0, -4.0, 4.0, 39.0, 72.0, 92.0, 89.0, ...",0,2015-05-09 23:38:13.154,2015-05-09 23:38:13.154+00,unlabeled
18163,3714,12,2015-05-09 23:38:17.014,1534,2015-05-09 16:38:15.615,66,81,"[163829.0, 65337.0, 23521.0, 8422.0, 25531.0, ...","[297.0, 280.0, 274.0, 276.0, 267.0, 247.0, 213...",0,2015-05-09 23:38:14.155,2015-05-09 23:38:14.155+00,unlabeled
18178,3715,12,2015-05-09 23:38:17.920,1534,2015-05-09 16:38:16.614,54,75,"[283412.0, 53358.0, 5565.0, 12389.0, 4030.0, 2...","[19.0, 9.0, 1.0, 7.0, 24.0, 24.0, 4.0, -9.0, -...",0,2015-05-09 23:38:15.155,2015-05-09 23:38:15.155+00,unlabeled
18194,3716,12,2015-05-09 23:38:19.127,1534,2015-05-09 16:38:17.617,56,64,"[1144.0, 19004.0, 6344.0, 13031.0, 3849.0, 105...","[42.0, 34.0, 6.0, -21.0, -34.0, -33.0, -27.0, ...",0,2015-05-09 23:38:16.162,2015-05-09 23:38:16.162+00,unlabeled
18206,3717,12,2015-05-09 23:38:20.032,1518,2015-05-09 16:38:18.601,54,53,"[295214.0, 113827.0, 22327.0, 10200.0, 21282.0...","[-52.0, -67.0, -33.0, 11.0, 16.0, 28.0, 85.0, ...",0,2015-05-09 23:38:17.140,2015-05-09 23:38:17.14+00,unlabeled
18219,3718,12,2015-05-09 23:38:20.921,1518,2015-05-09 16:38:19.602,41,63,"[2632630.0, 145630.0, 200136.0, 36438.0, 79524...","[90.0, 112.0, 140.0, 151.0, 149.0, 140.0, 134....",0,2015-05-09 23:38:18.144,2015-05-09 23:38:18.144+00,unlabeled
18235,3719,12,2015-05-09 23:38:22.129,1518,2015-05-09 16:38:20.622,48,63,"[293406.0, 69071.0, 13311.0, 9183.0, 3635.0, 7...","[41.0, 35.0, 40.0, 42.0, 38.0, 38.0, 35.0, 24....",0,2015-05-09 23:38:19.171,2015-05-09 23:38:19.171+00,unlabeled
18249,3720,12,2015-05-09 23:38:23.033,1517,2015-05-09 16:38:21.607,48,56,"[25537.0, 38523.0, 13487.0, 5075.0, 8545.0, 15...","[25.0, 39.0, 35.0, 32.0, 40.0, 36.0, 27.0, 49....",0,2015-05-09 23:38:20.145,2015-05-09 23:38:20.145+00,unlabeled
18262,3721,12,2015-05-09 23:38:23.938,1517,2015-05-09 16:38:22.581,53,66,"[345770.0, 44329.0, 40908.0, 10955.0, 15997.0,...","[57.0, 90.0, 120.0, 134.0, 119.0, 100.0, 80.0,...",0,2015-05-09 23:38:21.123,2015-05-09 23:38:21.123+00,unlabeled
18275,3722,12,2015-05-09 23:38:24.844,1517,2015-05-09 16:38:23.576,53,43,"[240843.0, 241278.0, 13559.0, 7820.0, 20749.0,...","[51.0, 58.0, 69.0, 67.0, 66.0, 66.0, 52.0, 39....",0,2015-05-09 23:38:22.114,2015-05-09 23:38:22.114+00,unlabeled
18292,3723,12,2015-05-09 23:38:26.051,1517,2015-05-09 16:38:24.578,54,47,"[80894.0, 22105.0, 5786.0, 9343.0, 7578.0, 312...","[49.0, 70.0, 70.0, 69.0, 84.0, 97.0, 100.0, 74...",0,2015-05-09 23:38:23.123,2015-05-09 23:38:23.123+00,unlabeled
18305,3724,12,2015-05-09 23:38:26.958,1519,2015-05-09 16:38:25.562,37,47,"[135899.0, 48977.0, 15676.0, 5168.0, 14144.0, ...","[20.0, 8.0, 12.0, 39.0, 65.0, 87.0, 80.0, 65.0...",0,2015-05-09 23:38:24.101,2015-05-09 23:38:24.101+00,unlabeled
18319,3725,12,2015-05-09 23:38:27.861,1519,2015-05-09 16:38:26.581,29,44,"[224628.0, 16073.0, 8724.0, 2615.0, 2802.0, 28...","[76.0, 97.0, 109.0, 112.0, 106.0, 103.0, 90.0,...",0,2015-05-09 23:38:25.123,2015-05-09 23:38:25.123+00,unlabeled
18332,3726,12,2015-05-09 23:38:28.767,1519,2015-05-09 16:38:27.564,48,51,"[7395.0, 19583.0, 8051.0, 2853.0, 25892.0, 137...","[-7.0, 0.0, 5.0, 1.0, -1.0, -8.0, -12.0, -24.0...",0,2015-05-09 23:38:27.877,2015-05-09 23:38:27.877+00,unlabeled
18333,3727,12,2015-05-09 23:38:28.767,1519,2015-05-09 16:38:28.550,61,47,"[15127.0, 11375.0, 4639.0, 3940.0, 21541.0, 67...","[20.0, 24.0, 33.0, 24.0, -18.0, -81.0, -131.0,...",0,2015-05-09 23:38:27.879,2015-05-09 23:38:27.879+00,unlabeled

In [19]:
data0[data0["id"]==12].head()

,Unnamed: 0,id,indra_time,browser_latency,reading_time,attention_esense,meditation_esense,eeg_power,raw_values,signal_quality,createdAt,updatedAt,label
0,3730,12,2015-05-09 23:13:42.281,1461,2015-05-09 16:13:40.954,0,0,"[944412.0, 111373.0, 52404.0, 28390.0, 3237.0,...","[-203.0, -202.0, -196.0, -185.0, -163.0, -137....",200,2015-05-09 23:13:39.550,2015-05-09 23:13:39.549+00,unlabeled
1,3732,12,2015-05-09 23:13:43.186,1461,2015-05-09 16:13:41.964,0,0,"[1793049.0, 89551.0, 3896.0, 21727.0, 9301.0, ...","[104.0, 134.0, 128.0, 121.0, 145.0, 151.0, 123...",200,2015-05-09 23:13:40.559,2015-05-09 23:13:40.559+00,unlabeled
2,3734,12,2015-05-09 23:13:44.392,1461,2015-05-09 16:13:42.950,0,0,"[400192.0, 640624.0, 153087.0, 69733.0, 98854....","[2002.0, 2047.0, 2047.0, 2047.0, 2047.0, 2047....",200,2015-05-09 23:13:41.549,2015-05-09 23:13:41.549+00,unlabeled
3,3735,12,2015-05-09 23:13:45.297,1461,2015-05-09 16:13:43.935,0,0,"[681192.0, 138630.0, 67891.0, 26459.0, 592240....","[1287.0, 1241.0, 1196.0, 1155.0, 1113.0, 1072....",200,2015-05-09 23:13:42.532,2015-05-09 23:13:42.532+00,unlabeled
4,3737,12,2015-05-09 23:13:46.201,1460,2015-05-09 16:13:44.936,0,0,"[268406.0, 197772.0, 190654.0, 266433.0, 91683...","[1905.0, 1836.0, 1770.0, 1707.0, 1645.0, 1587....",200,2015-05-09 23:13:43.532,2015-05-09 23:13:43.532+00,unlabeled

In [22]:
data0.label.value_counts()

unlabeled                       20054
relax                             934
music                             932
video-ver2                        481
thinkOfItems-ver2                 481
colorInstruction2                 469
video-ver1                        457
thinkOfItems-ver1                 449
thinkOfItemsInstruction-ver2      321
colorInstruction1                 316
thinkOfItemsInstruction-ver1      303
mathInstruction                   161
videoInstruction                  161
relaxInstruction                  158
musicInstruction                  152
blinkInstruction                  132
colorRound1-3                     128
colorRound1-4                     127
colorRound1-1                     125
colorRound1-2                     125
colorRound1-5                     124
colorRound1-6                     122
colorRound5-3                      96
readyRound5                        96
readyRound4                        95
colorRound2-4                      95
readyRound2                        95
colorRound5-5                      94
readyRound1                        94
colorRound2-1                      94
                                ...
colorRound5-1                      90
math10                             84
math2                              83
math8                              83
math6                              79
math4                              79
math11                             78
math12                             78
math7                              76
math3                              76
math5                              75
math9                              73
math1                              72
colorRound3-4                      63
colorRound3-2                      63
colorRound3-3                      61
colorRound3-1                      61
colorRound3-5                      61
blink5                             53
blink1                             51
blink3                             48
colorRound3-6                      48
blink2                             44
blink4                             43
colorRound4-5                      32
colorRound4-6                      32
colorRound4-3                      32
colorRound4-2                      30
colorRound4-4                      29
colorRound4-1                      29
Name: label, Length: 68, dtype: int64